<div class="gallery-image-header">
	<h2><%= media.name %></h2>
	<ul class="gallery-image-actions">
		<% if(media.nextId) { %>
		<li>
			<a href="<%= media.nextId %>" class="gallery-image-next"><%= t('Next') %></a>
		</li>		
		<% } %>
		<li>
			<a href="/gallery/show/<%= media.gallery %>" class="gallery-image-all"><%= t('Show All') %></a>
		</li>
		<% if(media.prevId) { %>
		<li>
			<a href="<%= media.prevId %>" class="gallery-image-prev"><%= t('Previous') %></a>
		</li>
		<% } %>

	</ul>
</div>
<br class="clear">
<% if(media.description) { %>
	<div class="gallery-image-description">
		<%= media.description %>
	</div>
<% } %>
<div class="gallery-image-full">
	<img src="<%- media.path %>" class="gallery-image" />
</div>
